html {
    font-family:rockwell;
    font-size:10 px;
    background-color:rgb(31,33,31);
    color: rgb(255, 255, 255);
   
}

h1 {
    font-size: 96px;
}

h6 {
    font-size: 20px;
    font-weight: 100;
    
}

h3{

}

body{
    text-align: center;
}

p{
    font-size: 20px;
    
}

p{

}

