/*heading*/

html {
    background: linear-gradient(141deg, #313231 20%, #1F211F 51%, #1F211F 75%);
    color: rgb(255, 255, 255);
    scroll-behavior: smooth;
  }

body {
    font-family:rockwell;
    font-size:10 px;
    
  }

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
  }

  button{
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #fcfcfc;
    cursor: pointer;
    border: none;
    padding: 25px 35px;
    background-color: rgb(220, 32, 0)
  }

  button {border-radius: 50%;}

  button:hover{
    color: rgb(255, 245, 0);
  }

  h1 {
    font-size: medium;
    transform: translateY(250%);
  }

  
  #top {
    height: 40px;
    padding: 5px,5px;
    text-decoration:none;
    margin-block-start: 200px;
    font-size: 25px;
    cursor: pointer;
    border: none;
  }
  
  #bottom {
    height: 40px;
    padding: 5px, 5px;
    text-decoration:none;
    margin-block-start: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
  }

  a{
    color: #fcfcfc;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  .vl {
    border-left: 6px solid rgb(255, 245, 0);
    height: 3400px;
    transform: translateX(30%);
  }

/*text*/
.p1{
    float: right;
    width: 50%;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content:flex-start;
    font-size: 2px;
}

.p2{
    float: right;
    width: 50%;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    font-size: 4px;
}
.p3{
    float: right;
    width: 50%;
    padding: 10px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    font-size: 8px;
}

.p4{
    float: right;
    width: 50%;
    padding: 10px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
}

.p5{
    float: right;
    width: 50%;
    padding: 10px;
    height: 2600px;
    display: flex;
    justify-content: flex-start;
    font-size: 32px;
}

.p6{
    float: right;
    width: 100%;
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    font-size: 64px;
}


.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(31,33,31);
  }
  
  ::-webkit-scrollbar-track { 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(31,33,31); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #fcfcfc; 
  }