html{
    background-color: rgb(69, 97, 117);
}

body {
    margin-top: 30px;
    color:rgb(219,228,185) ;
    font-family: "degular", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    }

p {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  max-width: 100%;
}

h1{
    color:rgb(219,228,185);
    font-family: eckmannpsych-large, sans-serif;
    text-align: center;
    font-size: 75px; 
    font-weight:400;
    padding: 3px;
    padding-bottom:10px;
    margin-top: -25px;
}

h2{
  color:rgb(219,228,185);
  font-family: eckmannpsych-large, sans-serif;
  text-align: center;
  font-size: 60px;  
  font-weight:200;
  padding: 3px;
  padding-bottom:50px
}

h3{
  color:rgb(219,228,185);
  font-family: "degular", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 24px;
    background-color:rgb(65,154,148);  ;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 100%;
  }
  
.top-btn:hover {
    background-color:  rgb(219,228,185);
  }

.button{
    color: rgb(219,228,185);
    text-decoration: none;
}

.button:hover{
    color: rgb(65,154,148);
}

button {
    color:rgb(65,154,148);
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(31,33,31);
  }
  
  ::-webkit-scrollbar-track { 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background:  rgb(65,154,148);  
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(219,228,185);
  }