html{
    background-color: rgb(69, 97, 117);
}

body {
    margin-top: 30px;
    color:rgb(219,228,185) ;
    font-family: "degular", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

p {
    font-size: 2vw;
}

h1{
    font-size: 75px;
    color:rgb(219,228,185);
    font-family: eckmannpsych-large, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    color:rgb(219,228,185);
    font-family: "degular", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.button{
    color: rgb(219,228,185);
    text-decoration: none;
}

.button:hover{
    color: rgb(65,154,148);
}

button {
    color:rgb(65,154,148);
}

button:hover {
    color:rgb(65,154,148);
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(31,33,31);
  }
  
  ::-webkit-scrollbar-track { 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(31,33,31); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(219,228,185);
  }